@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic);
/* --- PAGE SCROLLBAR --- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #515151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(134, 188, 37, 0.7);
  border-radius: 10vw;
  border: 1px solid rgba(134, 188, 37, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 188, 37, 0.5);
}

body {
  background-color: black;
}

.r-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2vw;
  position: inherit;
}

@media (max-width: 1023px) {
  .r-container {
    padding: 0vw 4vw;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radc-wrapper {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.radc-wrapper * {
  font-family: "Open Sans", sans;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.radc-wrapper > section {
  position: relative;
  width: 100%;
}

.radc-wrapper p {
  font-size: min(max(16px, 1vw), 18px);
  color: white;
  line-height: 1.5;
  font-weight: 300;
}

.radc-wrapper a {
  text-decoration: none;
}

h1.green,
h2.green,
h3.green,
h4.green,
h5.green,
p.green,
span.green {
  color: #86bc25;
  font-weight: bold;
}

h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
p.blue,
span.blue {
  color: #00a3e0;
  font-weight: bold;
}

h1.darkgreen,
h2.darkgreen,
h3.darkgreen,
h4.darkgreen,
h5.darkgreen,
p.darkgreen,
span.darkgreen {
  color: #62a381;
  font-weight: bold;
}

h1.nowrap,
h2.nowrap,
h3.nowrap,
h4.nowrap,
h5.nowrap,
p.nowrap,
span.nowrap {
  white-space: nowrap;
}

h1.italic,
h2.italic,
h3.italic,
h4.italic,
h5.italic,
p.italic,
span.italic {
  font-style: italic;
}

h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
p.bold,
span.bold {
  font-weight: bold;
}

div.green {
  background-color: #86bc25;
}

.blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #86bc25;
  -webkit-box-shadow: 0 0 0 0 #86bc25;
          box-shadow: 0 0 0 0 #86bc25;
  -webkit-animation: pulse-green 2s infinite;
          animation: pulse-green 2s infinite;
}

@-webkit-keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(134, 188, 37, 0.9);
            box-shadow: 0 0 0 0 rgba(134, 188, 37, 0.9);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(134, 188, 37, 0);
            box-shadow: 0 0 0 10px rgba(134, 188, 37, 0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(134, 188, 37, 0);
            box-shadow: 0 0 0 0 rgba(134, 188, 37, 0);
  }
}

@keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(134, 188, 37, 0.9);
            box-shadow: 0 0 0 0 rgba(134, 188, 37, 0.9);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(134, 188, 37, 0);
            box-shadow: 0 0 0 10px rgba(134, 188, 37, 0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(134, 188, 37, 0);
            box-shadow: 0 0 0 0 rgba(134, 188, 37, 0);
  }
}

@-webkit-keyframes arrow-small-move {
  0% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
            transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
  }
  50% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(30px) translateY(35px);
            transform: rotate(-45deg) scale(0.6) translateX(30px) translateY(35px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
            transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
  }
}

@keyframes arrow-small-move {
  0% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
            transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
  }
  50% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(30px) translateY(35px);
            transform: rotate(-45deg) scale(0.6) translateX(30px) translateY(35px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
            transform: rotate(-45deg) scale(0.6) translateX(20px) translateY(25px);
  }
}

@-webkit-keyframes arrow-small-move-2 {
  0% {
    -webkit-transform: rotate(-45deg) translateX(35px) translateY(20px);
            transform: rotate(-45deg) translateX(35px) translateY(20px);
  }
  50% {
    -webkit-transform: rotate(-45deg) translateX(40px) translateY(35px);
            transform: rotate(-45deg) translateX(40px) translateY(35px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateX(35px) translateY(20px);
            transform: rotate(-45deg) translateX(35px) translateY(20px);
  }
}

@keyframes arrow-small-move-2 {
  0% {
    -webkit-transform: rotate(-45deg) translateX(35px) translateY(20px);
            transform: rotate(-45deg) translateX(35px) translateY(20px);
  }
  50% {
    -webkit-transform: rotate(-45deg) translateX(40px) translateY(35px);
            transform: rotate(-45deg) translateX(40px) translateY(35px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateX(35px) translateY(20px);
            transform: rotate(-45deg) translateX(35px) translateY(20px);
  }
}

@-webkit-keyframes arrow-big-move {
  0% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
            transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
  }
  50% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(51px) translateY(0px);
            transform: rotate(-45deg) scale(0.7) translateX(51px) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
            transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
  }
}

@keyframes arrow-big-move {
  0% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
            transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
  }
  50% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(51px) translateY(0px);
            transform: rotate(-45deg) scale(0.7) translateX(51px) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
            transform: rotate(-45deg) scale(0.7) translateX(32px) translateY(-17px);
  }
}

.r-header {
  background-image: url(../img/hero-bg.png);
  height: 80vh;
  background-position-x: 130px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1023px) {
  .r-header {
    background-position-x: -230px;
  }
}

.r-header .r-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}

.r-header .hero-text {
  height: 100%;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  margin-left: 1vw;
}

.r-header .hero-text .hero-title {
  font-size: min(max(30px, 7vw), 54px);
  font-weight: 300;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: 0;
  margin-bottom: 3vw;
}

.r-header .hero-text .hero-cta {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding: 10px 50px;
  border: 3px solid #86bc25;
  font-size: min(max(20px, 2vw), 28px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: none;
  color: white;
  text-decoration: none;
}

.r-header .hero-text .hero-cta:hover {
  background-color: #86bc25;
}

.r-first-half {
  padding: 3vw 0;
  position: relative;
  background-color: #302f36;
}

.r-first-half p {
  text-align: center;
}

.r-first-half .blob {
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
}

.r-second-half {
  padding: 2vw;
  background-image: url(../img/intro-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 8vw;
  min-height: 30vh;
}

@media (max-width: 1023px) {
  .r-second-half {
    background-size: cover;
    background-position-x: 0;
    padding: 5vw;
  }
}

.r-second-half .r-container {
  min-height: 30vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.r-second-half .r-container .blob-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .r-second-half .r-container .blob-wrapper {
    display: none;
  }
}

.r-second-half .r-container .blob-wrapper .blob-inner-wrapper {
  position: relative;
}

.r-second-half .r-container .blob-wrapper .blob-inner-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  border-bottom: 70px solid rgba(134, 188, 37, 0.2);
  border-right: 70px solid rgba(134, 188, 37, 0.2);
  -webkit-transform: rotate(-45deg) translate(0px, -228px);
          transform: rotate(-45deg) translate(0px, -228px);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.r-second-half .r-container .intro-second-wrapper {
  -webkit-box-flex: 1.618;
      -ms-flex: 1.618;
          flex: 1.618;
}

.r-second-half .r-container .intro-second-wrapper p {
  margin-bottom: 1vw;
}

.r-second-half .r-container .wide {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  max-width: 100%;
  text-align: center;
  background-color: #1c1c1c;
  padding: 2vw;
  margin-top: 2vw;
}

.r-jobs {
  background-color: #1c1c1c;
  min-height: 60vh;
  padding: 3vw 0;
}

.r-jobs .jobs-section-title {
  font-size: min(max(27px, 6vw), 48px);
  color: white;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-section-title {
    text-align: center;
  }
}

.r-jobs .jobs-wrapper {
  min-height: 60vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 3vw 0;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.r-jobs .jobs-wrapper .job-container {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  background-color: #242424;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  position: relative;
  cursor: pointer;
  border: 1px solid #242424;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container {
    margin-top: 2vw;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 49%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.r-jobs .jobs-wrapper .job-container .arrow {
  position: relative;
  width: 30px;
  height: 30px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container .arrow {
    display: none;
  }
}

.r-jobs .jobs-wrapper .job-container .arrow:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 5px;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg) translateY(3px);
          transform: rotate(45deg) translateY(3px);
}

.r-jobs .jobs-wrapper .job-container:not(.special) .paper-airplane {
  width: 50px;
}

.r-jobs .jobs-wrapper .job-container:not(.special) .job-container-title {
  font-size: min(max(20px, 4vw), 25px);
  width: 30%;
  margin: 2vw 0;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container:not(.special) .job-container-title {
    width: 100%;
    text-align: center;
  }
}

.r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper {
  width: 100%;
  margin-top: 2vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4vw;
  }
}

.r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper .cta-button {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background: #86bc25;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper .cta-button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}

.r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper .arrow {
  width: 25px;
  height: 25px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-transform: scale(0.6) rotate(-45deg) translate(20px, 25px);
          transform: scale(0.6) rotate(-45deg) translate(20px, 25px);
}

.r-jobs .jobs-wrapper .job-container:not(.special) .cta-wrapper .arrow:before {
  width: 30px;
  height: 4px;
  -webkit-transform: rotate(45deg) translateY(2px);
          transform: rotate(45deg) translateY(2px);
}

.r-jobs .jobs-wrapper .job-container.special {
  background-color: #114129;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container.special {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    padding: 1vw 5vw;
    margin-top: 6vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.r-jobs .jobs-wrapper .job-container.special .job-container-title {
  font-size: min(max(23px, 5vw), 32px);
  width: 50%;
  margin: 2vw 0;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .r-jobs .jobs-wrapper .job-container.special .job-container-title {
    width: auto;
  }
}

.r-jobs .jobs-wrapper .job-container.special .arrow {
  -webkit-transform: scale(0.7) rotate(-45deg) translate(32px, -17px);
          transform: scale(0.7) rotate(-45deg) translate(32px, -17px);
  display: none;
}

.r-jobs .jobs-wrapper .job-container:not(.special):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: #c4d600;
}

.r-jobs .jobs-wrapper .job-container:not(.special):hover {
  border-color: #c4d600;
  background-color: rgba(36, 36, 36, 0);
}

.r-jobs .jobs-wrapper .job-container:not(.special):hover:before {
  display: none;
}

.r-jobs .jobs-wrapper .job-container:not(.special):hover .arrow {
  -webkit-animation: arrow-small-move 1.5s infinite 0s ease-in-out;
          animation: arrow-small-move 1.5s infinite 0s ease-in-out;
}

.r-jobs .jobs-wrapper .job-container:not(.special):hover .cta-button {
  background: rgba(134, 188, 37, 0);
  color: #86bc25;
}

.r-jobs .jobs-wrapper .job-container.special:hover {
  background-color: #145032;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
          clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.r-jobs .jobs-wrapper .job-container.special:hover .arrow {
  -webkit-animation: arrow-big-move 1.5s infinite 0s ease-in-out;
          animation: arrow-big-move 1.5s infinite 0s ease-in-out;
}

.r-events {
  padding: 7vw 0 3vw 0;
  position: relative;
}

.r-events .big-circle {
  position: absolute;
  top: -6.5vw;
  right: -7vw;
}

@media (max-width: 1023px) {
  .r-events .big-circle {
    z-index: -1;
    top: -10vw;
    right: -40vw;
  }
}

.r-events .inner-events {
  border-bottom: 3px solid #86bc25;
  border-right: 3px solid #86bc25;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 2vw;
}

@media (max-width: 1023px) {
  .r-events .inner-events {
    display: none;
  }
}

.r-events .inner-events:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: #86bc25;
}

.r-events .inner-events:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 55%;
  background-color: #86bc25;
}

.r-events .inner-events .events-text-wrapper {
  -webkit-transform: translate(-2vw, -2vw);
          transform: translate(-2vw, -2vw);
  color: white;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 10%;
}

.r-events .inner-events .events-text-wrapper .events-title {
  font-size: min(max(27px, 6vw), 48px);
}

.r-events .inner-events .events-text-wrapper .events-subtitle {
  font-size: min(max(20px, 4vw), 25px);
  font-weight: 300;
  margin: 0;
  margin-top: 1vw;
}

.r-events .inner-events .event-card {
  height: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 32%;
  margin-bottom: 15px;
  padding: 0 2vw 2vw 2vw;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
}

.r-events .inner-events .event-card.past:before {
  background: #1c1c1c;
}

.r-events .inner-events .event-card.past .event-cta-wrapper {
  display: none;
}

.r-events .inner-events .event-card.past .event-card-img {
  opacity: 0.6;
}

.r-events .inner-events .event-card.past * {
  color: #75787b !important;
  font-style: italic !important;
}

.r-events .inner-events .event-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 0;
  background-color: #aab93c;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.r-events .inner-events .event-card .event-card-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.r-events .inner-events .event-card .event-card-img img {
  display: block;
}

.r-events .inner-events .event-card .event-title {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: min(max(23px, 5vw), 29px);
  color: white;
  font-weight: bold;
  padding: 0;
  padding-top: 15px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.r-events .inner-events .event-card .event-date {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: min(max(18px, 2vw), 20px);
  color: white;
  font-weight: 400;
  padding: 0;
  padding-top: 35px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  position: relative;
}

.r-events .inner-events .event-card .event-date:before {
  content: "\f073";
  font-family: "Font Awesome 5 Free", "Dcom-EDE";
  font-weight: 300;
  margin-right: 7px;
}

.r-events .inner-events .event-card .event-description {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: min(max(16px, 1vw), 18px);
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 2vw;
  width: calc(100% - 4vw);
}

.r-events .inner-events .event-card .event-cta-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0 2vw 2vw;
  background-color: #aab93c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r-events .inner-events .event-card .event-cta-wrapper .event-cta-button {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-size: min(max(18px, 2vw), 20px);
  font-weight: bold;
  background-color: #cadb4e;
  color: black;
  -webkit-transform: translateX(-2vw);
          transform: translateX(-2vw);
  opacity: 0;
}

.r-events .inner-events .event-card .event-cta-wrapper .event-cta-button.hovered:hover {
  background-color: white;
}

.r-events .inner-events .event-card .event-cta-wrapper .event-cta-button.hovered:hover + .arrow {
  -webkit-transform: rotate(-45deg) translate(50px, 35px);
          transform: rotate(-45deg) translate(50px, 35px);
}

.r-events .inner-events .event-card .event-cta-wrapper .arrow {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg) translate(-72px, -87px);
          transform: rotate(-45deg) translate(-72px, -87px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.r-events .inner-events .event-card .event-cta-wrapper .arrow:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 5px;
  background-color: white;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg) translateY(3px);
          transform: rotate(45deg) translateY(3px);
}

.r-events .inner-events .event-card:hover:before {
  height: 100%;
}

.r-events .inner-events .event-card:hover .event-card-img {
  -webkit-transform: translateY(-5vw);
          transform: translateY(-5vw);
  opacity: 0;
}

.r-events .inner-events .event-card:hover .event-title {
  -webkit-transform: translateY(-5vw) translateX(-10px);
          transform: translateY(-5vw) translateX(-10px);
  opacity: 0;
  padding-top: 0;
}

.r-events .inner-events .event-card:hover .event-date {
  -webkit-transform: translateY(-5vw) translateX(-10px);
          transform: translateY(-5vw) translateX(-10px);
  opacity: 0;
  padding-top: 0;
}

.r-events .inner-events .event-card:hover .event-description {
  top: 2vw;
  opacity: 1;
}

.r-events .inner-events .event-card:hover .event-cta-button {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.r-events .inner-events .event-card:hover .arrow {
  -webkit-transform: rotate(-45deg) translate(35px, 20px);
          transform: rotate(-45deg) translate(35px, 20px);
}

.r-events .inner-events .event-card.no-sub .event-cta-button {
  background: none;
  color: white;
  padding-left: 0;
}

.r-events .inner-events .event-card.no-sub .arrow {
  display: none;
}

.r-events .inner-events .event-card.no-sub:hover .event-cta-button.hovered {
  background: none;
  cursor: initial;
}

.r-events .inner-events .event-card.split {
  margin-right: auto;
  margin-left: 2%;
}

.r-events .mob-events {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (max-width: 1023px) {
  .r-events .mob-events {
    display: block;
  }
}

.r-events .mob-events .events-mob-wrapper {
  width: 70%;
}

.r-events .mob-events .events-mob-wrapper .events-mob-title {
  font-size: min(max(27px, 6vw), 48px);
  color: white;
}

.r-events .mob-events .events-mob-wrapper .events-mob-subtitle {
  font-size: min(max(20px, 4vw), 25px);
  color: white;
  font-weight: 300;
}

.r-events .mob-events .mob-event-card {
  margin-top: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.r-events .mob-events .mob-event-card.past .mob-event-button {
  background: #1c1c1c;
  font-style: italic;
}

.r-events .mob-events .mob-event-card.past .mob-event-button .mob-event-title {
  color: #75787b !important;
}

.r-events .mob-events .mob-event-card.past .mob-event-button .mob-event-date {
  color: #75787b !important;
}

.r-events .mob-events .mob-event-card.past .mob-event-tab {
  color: #75787b !important;
  font-style: italic;
}

.r-events .mob-events .mob-event-card.past .mob-event-tab .mob-event-description {
  color: #75787b !important;
}

.r-events .mob-events .mob-event-card.past .mob-event-tab .mob-event-cta-button {
  display: none !important;
}

.r-events .mob-events .mob-event-card .mob-event-button {
  background: #aab93c;
  width: 100%;
  padding: 5vw;
  position: relative;
}

.r-events .mob-events .mob-event-card .mob-event-button:after {
  content: "";
  position: absolute;
  color: white;
  width: 1.2vw;
  height: 1.2vw;
  border-bottom: 0.8vw solid white;
  border-right: 0.8vw solid white;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.r-events .mob-events .mob-event-card .mob-event-button.clicked:after {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.r-events .mob-events .mob-event-card .mob-event-button .mob-event-date {
  font-size: min(max(18px, 2vw), 20px);
  color: white;
  font-weight: 300;
}

.r-events .mob-events .mob-event-card .mob-event-button .mob-event-date:before {
  content: "\f073";
  font-family: "Font Awesome 5 Free", "Dcom-EDE";
  font-weight: 300;
  margin-right: 7px;
}

.r-events .mob-events .mob-event-card .mob-event-button .mob-event-title {
  margin-top: 0.7vw;
  font-size: min(max(20px, 4vw), 25px);
  color: white;
  font-weight: bold;
}

.r-events .mob-events .mob-event-card .mob-event-tab {
  opacity: 1;
  height: auto;
  max-height: 0;
  padding: 0 5vw;
  background: #131313;
  position: relative;
  overflow: hidden;
}

.r-events .mob-events .mob-event-card .mob-event-tab:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -20px;
  left: 0;
  height: 20px;
  -webkit-box-shadow: 0px 0px 20px #000000;
          box-shadow: 0px 0px 20px #000000;
}

.r-events .mob-events .mob-event-card .mob-event-tab:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  height: 20px;
  -webkit-box-shadow: 0px 0px 20px #000000;
          box-shadow: 0px 0px 20px #000000;
}

.r-events .mob-events .mob-event-card .mob-event-tab.clicked {
  max-height: 100vh;
  padding: 5vw;
}

.r-events .mob-events .mob-event-card .mob-event-tab .mob-event-cta-wrapper {
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.r-events .mob-events .mob-event-card .mob-event-tab .mob-event-cta-wrapper .mob-event-cta-button {
  color: white;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-size: min(max(18px, 2vw), 20px);
  font-weight: bold;
  background-color: #cadb4e;
  color: black;
  opacity: 1;
}

.r-events .mob-events .mob-event-card .mob-event-tab .mob-event-description {
  color: white;
  font-size: min(max(18px, 2vw), 20px);
}

.r-why {
  margin-top: 50px;
  background-color: #1c1c1c;
  min-height: 60vh;
  padding: 3vw 0;
}

.r-why .why-intro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .r-why .why-intro {
    padding: 4vw 0;
  }
}

.r-why .why-intro .why-title {
  font-size: min(max(27px, 6vw), 48px);
  color: white;
}

@media (max-width: 1023px) {
  .r-why .why-intro .why-title {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.r-why .why-intro .why-intro-image {
  margin-left: 2vw;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media (max-width: 1023px) {
  .r-why .why-intro .why-intro-image {
    display: none;
  }
}

.r-why .benefits-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1023px) {
  .r-why .benefits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.r-why .benefits-wrapper .oyster-benefits {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 1.8vw;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.r-why .benefits-wrapper .oyster-benefits .benefits-title {
  border-bottom: 1px solid #86bc25;
}

.r-why .benefits-wrapper .needs-benefits {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 1023px) {
  .r-why .benefits-wrapper .needs-benefits {
    margin-top: 3vw;
  }
}

.r-why .benefits-wrapper .needs-benefits .benefits-title {
  border-bottom: 1px solid #00a3e0;
}

.r-why .benefits-wrapper .flexibility-benefits {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1023px) {
  .r-why .benefits-wrapper .flexibility-benefits {
    margin-top: 3vw;
  }
}

.r-why .benefits-wrapper .flexibility-benefits .benefits-title {
  border-bottom: 1px solid #62a381;
}

.r-why .benefits-wrapper .benefits-title {
  font-size: min(max(23px, 5vw), 32px);
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid red;
}

@media (max-width: 1023px) {
  .r-why .benefits-wrapper .benefits-title {
    padding-left: 1vw;
    text-align: center;
  }
}

.r-why .benefits-wrapper .benefit {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin-left: 3vw;
  border-bottom: 1px solid #515151;
  font-size: min(max(18px, 2vw), 20px);
  color: white;
  font-weight: 300;
}

.r-why .benefits-wrapper .benefit .benefit-img {
  max-width: 50px;
  margin-right: 1.5vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.r-cta {
  background-color: #86bc25;
  min-height: 30vh;
  padding: 4vw 0;
}

.r-cta .r-container {
  min-height: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3vw;
}

@media (max-width: 1023px) {
  .r-cta .r-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.r-cta .r-container .cta-title {
  font-size: min(max(27px, 6vw), 48px);
  color: white;
  max-width: 30vw;
  margin-bottom: 2vw;
}

@media (max-width: 1023px) {
  .r-cta .r-container .cta-title {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.r-cta .r-container .cta-link {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  text-transform: uppercase;
  padding: 15px 50px;
  color: black;
  font-weight: bold;
  border: 3px solid white;
  font-size: min(max(20px, 2vw), 24px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1023px) {
  .r-cta .r-container .cta-link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 4vw;
  }
}

.r-cta .r-container .cta-link:hover {
  background-color: white;
  color: #86bc25;
}

.r-follow {
  background-color: black;
  min-height: 30vh;
  padding: 4vw 0 2vw 0;
}

.r-follow .r-container {
  min-height: 30vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.r-follow .r-container .follow-us-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: min(max(18px, 2vw), 20px);
  color: white;
  text-align: center;
}

.r-follow .r-container .r-social-icon {
  -ms-flex-preferred-size: 3%;
      flex-basis: 3%;
}

@media (max-width: 1023px) {
  .r-follow .r-container .r-social-icon {
    -ms-flex-preferred-size: 5%;
        flex-basis: 5%;
  }
}

.r-follow .r-container .r-social-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.r-follow .r-container .r-social-icon img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.r-follow .r-container .r-social-icon + .r-social-icon {
  margin-left: 10px;
}

@media (max-width: 1023px) {
  .r-follow .r-container .r-social-icon + .r-social-icon {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */