@import "partials/mixins";
@import "partials/include-media";

/* --- PAGE SCROLLBAR --- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #515151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(134, 188, 37, 0.7);
  border-radius: 10vw;
  border: 1px solid rgba(134, 188, 37, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 188, 37, 0.5);
}

//GENERAL
body {
  background-color: black;
}
div.r-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2vw;
  position: inherit;
  //   background-color: rgba(134, 188, 37, 0.2);
}
.flex {
  display: flex;
}
.radc-wrapper {
  overflow-x: hidden;
  box-sizing: border-box;
  & * {
    font-family: "Open Sans", sans;
    box-sizing: border-box;
  }
  & > section {
    position: relative;
    width: 100%;
  }
  & p {
    font-size: $pFont;
    color: white;
    line-height: 1.5;
    font-weight: 300;
  }
}
h1,
h2,
h3,
h4,
h5,
p,
span {
  &.green {
    @include green-font;
  }
  &.blue {
    @include blue-font;
  }
  &.darkgreen {
    @include dark-green-font;
  }
  &.nowrap {
    white-space: nowrap;
  }
  &.italic {
    font-style: italic;
  }
  &.bold {
    font-weight: bold;
  }
}
div {
  &.green {
    @include green-bg;
  }
}
//BLOB
.blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  background: rgba(134, 188, 37, 1);
  box-shadow: 0 0 0 0 rgba(134, 188, 37, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(134, 188, 37, 0.9);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(134, 188, 37, 0);
  }

  100% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(134, 188, 37, 0);
  }
}

//HEADER
.r-header {
  background-image: url(../img/hero-bg.png);
  min-height: 70vh;
  background-position-x: 12vw;
  background-repeat: no-repeat;
  background-size: contain;
  & .r-container {
    flex-basis: 100%;
    min-height: 70vh;
  }
  & .hero-text {
    min-height: 70vh;
    width: 30%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-left: 1vw;
    & .hero-title {
      font-size: $h1Font;
      font-weight: 300;
      flex: 0;
      margin: 0;
      margin-bottom: 3vw;
    }
    & .hero-cta {
      cursor: pointer;
      flex: 0;
      padding: 10px 50px;
      border: 3px solid $delGreen;
      font-size: #{"min(max(#{20px}, #{2vw}), #{28px})"};
      transition: all 0.3s ease;
      text-transform: none;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $delGreen;
        // color: black;
      }
    }
  }
}

//INTRO FIRST HALF
.r-first-half {
  padding: 3vw 0;
  position: relative;
  background-color: #302f36;
  & p {
    text-align: center;
  }
  & .blob {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
//INTRO SECOND HALF
.r-second-half {
  padding: 2vw;
  background-image: url(../img/intro-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 8vw;
  min-height: 30vh;
  & .blob-wrapper {
    position: absolute;
    left: 18%;
    top: 30%;
    & .blob-inner-wrapper {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        border-bottom: 70px solid rgba(134, 188, 37, 0.2);
        border-right: 70px solid rgba(134, 188, 37, 0.2);
        transform: rotate(-45deg) translate(0px, -228px);
        transform-origin: bottom right;
      }
    }
  }
  & .r-container {
    min-height: 30vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    & p {
      max-width: 65%;
      margin-bottom: 1vw;
    }
    & .wide {
      align-self: stretch;
      max-width: 100%;
      text-align: center;
      background-color: $darkGrey;
      padding: 2vw;
      margin-top: 2vw;
    }
  }
}

//JOBS LINKS
.r-jobs {
  background-color: $darkGrey;
  min-height: 60vh;
  padding: 3vw 0;
  & .jobs-section-title {
    font-size: $h2Font;
    color: white;
  }
  & .jobs-wrapper {
    min-height: 60vh;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 3vw 0;
    & .job-container {
      flex-basis: 32%;
      background-color: rgba(36, 36, 36, 1);
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
      position: relative;
      cursor: pointer;
      border: 1px solid #242424;
      transition: all 0.6s ease;

      & .arrow {
        position: relative;
        width: 30px;
        height: 30px;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        transform-origin: bottom right;
        transform: rotate(-45deg) translateY(-10px);
        transition: transform 0.4s ease;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50px;
          height: 5px;
          background-color: white;
          transform-origin: bottom right;
          transform: rotate(45deg) translateY(3px);
        }
      }
      &:not(.special) .paper-airplane {
        width: 50px;
      }
      &:not(.special) .job-container-title {
        font-size: $h3Font;
        width: 30%;
        margin: 2vw 0;
        color: white;
        text-transform: uppercase;
      }
      &:not(.special) .cta-wrapper {
        width: 100%;
        margin-top: 2vw;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        & .cta-button {
          color: white;
          padding: 10px 20px;
          font-size: 20px;
          font-weight: bold;
          background: rgba(134, 188, 37, 1);
          transition: all 0.3s ease;
        }
        & .arrow {
          width: 25px;
          height: 25px;
          border-right: 4px solid white;
          border-bottom: 4px solid white;
          transform: scale(0.6) rotate(-45deg) translate(20px, 25px);
          &:before {
            width: 30px;
            height: 4px;
            transform: rotate(45deg) translateY(2px);
          }
        }
      }
      &.special {
        background-color: #114129;
        justify-content: center;
        & .job-container-title {
          font-size: $h3FontSpecial;
          width: 50%;
          margin: 2vw 0;
          color: white;
          text-transform: uppercase;
        }
        & .arrow {
          transform: scale(0.7) rotate(-45deg) translate(32px, -17px);
        }
      }
      &:not(.special):before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        top: 0;
        left: 0;
        background-color: #c4d600;
      }
      &:not(.special):hover {
        border-color: #c4d600;
        background-color: rgba(36, 36, 36, 0);

        &:before {
          display: none;
        }
        & .arrow {
          // transform: scale(0.6) rotate(-45deg) translate(30px, 35px) !important;
          animation: arrow-small-move 1.5s infinite 0s ease-in-out;
        }
        & .cta-button {
          background: rgba(134, 188, 37, 0);
          color: rgba(134, 188, 37, 1);
        }
      }
      &.special:hover {
        background-color: #145032;
        & .arrow {
          animation: arrow-big-move 1.5s infinite 0s ease-in-out;
        }
      }
    }
  }
}

//EVENTS
.r-events {
  // min-height: 120vh;
  padding: 7vw 0 3vw 0;
  position: relative;
  & .big-circle {
    position: absolute;
    top: -6.5vw;
    right: -7vw;
  }
  & .inner-events {
    border-bottom: 3px solid $delGreen;
    border-right: 3px solid $delGreen;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    padding: 2vw;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 3px;
      background-color: $delGreen;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3px;
      height: 50%;
      background-color: $delGreen;
    }
    & .events-text-wrapper {
      transform: translate(-2vw, -2vw);
      color: white;
      flex-basis: 50%;
      margin-right: 10%;
      & .events-title {
        font-size: $h2Font;
      }
      & .events-subtitle {
        font-size: $h3Font;
        font-weight: 300;
        margin: 0;
        margin-top: 1vw;
      }
    }

    & .event-card {
      cursor: pointer;
      height: 450px;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 32%;
      margin-bottom: 15px;
      padding: 0 2vw 2vw 2vw;
      position: relative;
      z-index: 1;
      transition: all 0.4s ease;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        left: 0;
        background-color: #aab93c;
        z-index: -1;
        transition: all 0.4s ease;
      }
      & .event-card-img {
        align-self: center;
        transition: all 0.3s ease;

        & img {
          display: block;
        }
      }

      & .event-title {
        transition: all 0.3s ease;
        font-size: $eventTitle;
        color: white;
        font-weight: bold;
        padding: 2vw 0 0 0;
      }

      & .event-description {
        transition: all 0.3s ease;
        font-size: $pFont;
        color: white;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 2vw;
        width: calc(100% - 4vw);
      }
      & .event-cta-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 0 2vw 2vw;
        background-color: #aab93c;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        & .event-cta-button {
          display: inline-block;
          transition: all 0.3s ease;
          padding: 10px 20px;
          font-size: $pFontLarge;
          font-weight: bold;
          background-color: #cadb4e;
          color: black;
          transform: translateX(-2vw);
          opacity: 0;
          &.hovered:hover {
            background-color: white;
            & + .arrow {
              transform: rotate(-45deg) translate(50px, 35px);
            }
          }
        }
        & .arrow {
          display: block;
          position: relative;
          width: 20px;
          height: 20px;
          border-right: 5px solid white;
          border-bottom: 5px solid white;
          transform-origin: bottom right;
          transform: rotate(-45deg) translate(-72px, -87px);
          transition: transform 0.3s ease;
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 25px;
            height: 5px;
            background-color: white;
            transform-origin: bottom right;
            transform: rotate(45deg) translateY(3px);
          }
        }
      }
      & + .event-card {
        // margin-left: 5%;
      }
      &:hover {
        &:before {
          height: 100%;
        }
        & .event-card-img {
          transform: translateY(-5vw);
          opacity: 0;
        }
        & .event-title {
          transform: translateY(-5vw);
          opacity: 0;
        }
        & .event-description {
          top: 2vw;
          opacity: 1;
        }
        & .event-cta-button {
          transform: translateX(0);
          opacity: 1;
        }
        & .arrow {
          transform: rotate(-45deg) translate(35px, 20px);
          // animation: arrow-small-move-2 1.5s linear ease-in-out;
        }
      }
    }
  }
}

//WHY JOIN US
.r-why {
  margin-top: 50px;
  background-color: $darkGrey;
  min-height: 60vh;
  padding: 3vw 0;
  & .why-intro {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    & .why-title {
      font-size: $h2Font;
      color: white;
    }
    & .why-intro-image {
      margin-left: 2vw;
      transform: translateY(-7px);
    }
  }

  & .benefits-wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    & .oyster-benefits {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      // background-color: red;
      margin-bottom: 1.8vw;
      flex-basis: 48%;

      & .benefits-title {
        border-bottom: 1px solid $delGreen;
      }
    }
    & .needs-benefits {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      flex-basis: 48%;
      // background-color: yellow;
      & .benefits-title {
        border-bottom: 1px solid $delBlue;
      }
    }
    & .flexibility-benefits {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      flex-basis: 100%;

      // background-color: blue;
      & .benefits-title {
        border-bottom: 1px solid $darkGreen;
      }
    }
    & .benefits-title {
      font-size: $h3FontSpecial;
      font-weight: bold;
      padding: 20px 0;
      border-bottom: 1px solid red;
    }

    & .benefit {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
      margin-left: 3vw;
      border-bottom: 1px solid #515151;

      font-size: $pFontLarge;
      color: white;
      font-weight: 300;

      & .benefit-img {
        max-width: 50px;
        margin-right: 1.5vw;
        align-self: flex-start;
      }
    }
  }
}

//CTA SECTION
.r-cta {
  background-color: $delGreen;
  min-height: 30vh;
  padding: 4vw 0;
  & .r-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3vw;
    & .cta-title {
      font-size: $h2Font;
      color: white;
      max-width: 30vw;
      // line-height: 1;
      margin-bottom: 2vw;
    }
    & .cta-link {
      cursor: pointer;
      flex: 0;
      text-transform: uppercase;
      padding: 15px 50px;
      color: black;
      font-weight: bold;
      border: 3px solid white;
      font-size: #{"min(max(#{20px}, #{2vw}), #{24px})"};
      transition: all 0.3s ease;
      &:hover {
        background-color: white;
        color: $delGreen;
      }
    }
  }
}

//FOLLOW US SECTION
.r-follow {
  background-color: black;
  min-height: 30vh;
  padding: 4vw 0 2vw 0;
  & .r-container {
    min-height: 30vh;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    & .follow-us-title {
      flex-basis: 100%;
      font-size: $pFontLarge;
      color: white;
      text-align: center;
    }
    & .r-social-icon {
      flex-basis: 3%;
      &:hover {
        transform: scale(1.1);
      }
      & img {
        width: 100%;
        // max-width: 40px;
        margin: 0 auto;
        display: block;
      }
      & + .r-social-icon {
        margin-left: 10px;
      }
    }
  }
}

@include arrow-keyframes;
